name: Build Windows Package

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version-file: windows/pubspec.yaml

    - name: Initialize Flutter
      run: |
        flutter doctor
        flutter --version

    - name: Install Flutter dependencies
      run: flutter pub get

    - name: Enable Windows support
      run: flutter config --enable-windows-desktop

    - name: Build Windows application
      run: flutter build windows

    - name: Package Windows application
      run: |
        cd windows
        iscc build.iss

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: windows-package
        path: build/windows/runner/Release/
